.menu {
  background-color: violet;
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: all ease 0.3s;
}

.menu-active {
  transform: translate(0);
}

.menu-item {
  border: none;
  background-color: palegreen;
  text-align: left;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hidden {
  display: none;
}
